body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --blue: #6495ed;
  --white: #d0d0d2;
  --nav-height: 80px;
  --green: #189287;
  --yellow: #F0EEC5;
  --hard-yellow: #d8c13a;
  --grey-bg: rgba(38, 38, 51, 0.91);
  --header-color: rgba(20,20,34,0.85);
  --bg-color: #141422;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}


@font-face {
  font-family: ItcavantgardestdBk;
  src: url('./fonts/ItcavantgardestdBk.otf');
}

@font-face {
  font-family: NetPoppinsMedium;
  src: url('./fonts/Net-Poppins-Medium.ttf');
}
@font-face {
  font-family: NetSFMonoRegular;
  src: url('./fonts/Net-SFMono-Regular.ttf');
}

body{
  background-color: var(--bg-color);
  margin:0 !important;
  font-family: NetPoppinsMedium;
}

.drawer-icon {
  display: none;
}

.icon-holder img {
  width: 50px;
}

main {
  padding: 0px 100px;
}

.number-header{ 
  color: var(--green); 
  margin-right: 10px;
}

.header {
  background-color: var(--header-color);
  color: var(--white);
  height: var(--nav-height);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: var(--transition);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  font-family: ItcavantgardestdBk;
}


.drawer {
  display:none;
}

ul.nav-list {
  list-style-type: none;
}

.nav-list li a{
  text-decoration: none;
  color: var(--white);
}

.nav-list li {
  display: inline;
  padding: 10px;
  cursor: pointer;
}

.menu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.icon-holder {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;;
} 

nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  counter-reset: item 0;
  z-index: 12;
  padding: 20px 50px;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
}

.hero {
  color: var(--white);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  margin:0px auto;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px;;
}

button.download-button {
  background: none;
  padding: 15px 23px;
  font-size: 15px;
  border: 2px solid var(--green);
  font-weight: bold;
  margin-top: 35px;
  color: var(--green);
  cursor: pointer;
  font-family: NetSFMonoRegular;
}

.download-button a{
  color: var(--green);
  text-decoration: none;
}

button.download-button.send {
  margin-left: 13px;
}

.yellowish {
  color: var(--yellow);
  font-weight: bold;
}


.experience {
  font-weight: 400;
}

ul.experience-list {
  padding: 0;
}

.image {
  width: 230px;
}

.experience-list li {
  list-style: none;
  padding: 10px 20px;
  margin-bottom: 5px;
  width: 125px;
  position: relative;
  border: 1px solid #232330;
  cursor: pointer;
  width: inherit;
}

.experience-list li.active {
  background: var(--hard-yellow);
  font-weight: bold;
  color: var(--bg-color);
}

.triangle-right {
  position: absolute;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 33px solid var(--hard-yellow);
  border-bottom: 23px solid transparent;
  top: 1px;
  right: -32px;
}

.work-detail li {
  padding: 8px 0px;
}

ul.companies {
  margin-top: 20px    ;
  list-style: none;
  display: block;
  width: inherit;
  overflow: overlay;
  padding: 0;
}

.company-holder {
  position: relative;
}

ul.companies::-webkit-scrollbar {
  display: none;
}

.roles h3 {
  margin-bottom: 0px;
}

.roles .date {
  color: var(--green);
}

.profile-image {
  border: 3px solid #189287;
  width: inherit; 
  margin-top: 50px;
}

.company-logos {
  margin-top: 35px;
  width: -webkit-fill-available;
}

.companies li {
  padding-left: 15px;
  padding-right: 15px;
  display:table-cell;
  text-align:center;
  vertical-align: middle;
}

.color-green {
  color: var(--green);
}

h2, h3, h4 {
  font-family: ItcavantgardestdBk;
}

.project-details-holder .label {
  color: var(--yellow); 
  font-size: 12px
}

.companies li img {
  width: 160px;
}

.project-details-holder h3 {
  margin-top: 2px;
  font-size: 15px;
}

.project-details {
  padding: 15px;
  background: var(--grey-bg);
}

p {
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 90%;
}

.title::after {
  content: "";
  display: flow-root;
  position: relative;
  top: -3px;
  width: 300px;
  height: 2px !important;
  margin-left: 20px;
  background-color: var(--grey-bg);
}


.form-style-5{
  margin: 0 auto;
  max-width: 600;
  padding: 10px 20px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
}

.form-style-5 fieldset{
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 15px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: NetPoppinsMedium;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color:#141422;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
  background: #d2d9dd;
  font-family: NetPoppinsMedium;
}
.form-style-5 select{
  -webkit-appearance: menulist-button;
  height:35px;
}
.form-style-5 .number {
  background: var(--green);
  color: var(--white);
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
  position: relative;
  display: block;
  padding: 15px;
  color: var(--green);
  margin: 0 auto;
  background: #189287;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 50%;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  font-size: 15px;
  border: 2px solid var(--green);;
  font-family: NetSFMonoRegular;
  background: none;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
  background: #109177;
}

footer i.fab {
  font-size: 25px;
  margin: 8px;
}

footer li {
  font-size: 10px;
  text-align: center;
  color: var(--white);
  list-style: none;
  font-weight: bold;
}

footer li a {
  color: var(--white);
  font-size: 28px !important;
  color: var(--white);
}

footer ul {
  position: fixed;
  right: 30px;
  bottom: 10px;
}


.grid-2 {
  font-weight: bold;
  display: grid; 
  grid-template-columns: 3fr 2fr; 
  gap: 50px;
}

.alt-content {
  max-width: 810px;
} 

.grid-2-l-content {
  display: grid; 
  grid-template-columns: 2fr 10fr; gap: 50px; margin-top: 30px;
}

.grid-2-l-content .details {
  width: 200px;
} 

.contact-information {
  text-align: center;
  width: 100%;
  margin-top:30px;
}

.contact-information a {
  color: var(--white);
}

.form-style-5 {
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  border-radius: 8px;
}

.contact.text-center {
  width: 100%;
  text-align: center;
}

.contact-information {
  text-align: left;
  width: 100%;
  margin-top: 30px;
  font-size: 13px;
}

.hero .hi {
  font-size: 4em
}

.hero .im {
  font-size: 4em
}

.hero .work {
  margin-top: 10px; 
  font-size: 1.8em;
}

.project-grid-2 {
  display: grid; grid-template-columns: 6fr 6fr; gap: 30px; margin-top: 30px;
}

.projects {
}

.image-holder img {
  width: 500px;
  height: 314px;
}

.contact-information {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 50px;
  margin-top: 30px;
  text-align: center;
}

.download-button {
  font-size: 12px !important;
  margin-top: 20px !important;
  padding: 12px 20px !important;
}


.contact-form {
  width: 100%; 
  margin-top: 30px
}


.contact-label {
  margin-bottom: 5px; color: #f0eec5;
}

.company-holder {
  scroll-margin: 100px;
}


@media screen and (max-width: 900px) { 

  .drawer {
    display:block;
    cursor: pointer;
    color: var(--green);
  }

  .drawer-box {
    height: 100vh;
    position: absolute;
    top: -8px;
    left: 100%;
    width: 100%;
    background: rgba(20, 20, 34, 0.9);
    padding: 30px;
    z-index: 99;
  }

  .drawer-icon {
    position: absolute;
    top: 15px;
    right: 30px;
    height: auto;
    display: block;
    cursor: pointer;
    color: var(--green);
    font-size: 20px;
    padding-top: 2px;
  }

  .icon-holder img {
    width: 45px;
  }

  main {
    margin: 0 !important;
    padding: 0px 40px;
  }

  .grid-2-l-content {
      display: contents;
  }

  ul.experience-list {
      padding: 0;
      display: inline-table;
      width: max-content;
      font-size: 10px !important;
  }

  .experience-list li {
      list-style: none;
      position: relative;
      display: inline;
      padding: 10px;
      font-size: 1.3em;
      border: 1px solid #7d7b7b;
  }

  .roles {
      font-size: 14px;
      margin-top: 30px;
  }

  h2.title {
      font-size: 1.3em;
  }

  .title::after {
      width: 60px;
  }

  h3.yellowish {
      font-size: 14px;
  }

  .grid-2 {
      display: block;
  }   

  .details {
      margin-top: 20px;
      font-size: 14px;
      text-align: left;
  }

  br {
      display: none;
  }



  .image {
      margin: 0 auto;
      height: auto;
      margin-top: 60px;
      margin-top: 55px !important;
  }

  nav {
      padding: 15px 30px;
  }

  .header {
      height: 65px;
  }

  .drawer-content {
    cursor: default;
    background: rgba(20, 20, 34, 0.98);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: min(75vw);
    height: 100vh;
    outline: 0px;
    box-shadow: -10px 0px 30px -15px var(--navy-shadow);
    z-index: 9;
    transform: translateX(0vw);
    visibility: visible;
    text-align: left;
    color: var(--white);
    box-shadow: rgb(0 0 0 / 20%) -10px 0px 10px 1px;
  }

  .close-holder {
    position: fixed;
    right: 15px;
    z-index: 99;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .drawer-content ul {
    list-style: none;
    padding: 0;
  }

  .drawer-content li {
    padding: 12px 50px;
    cursor: pointer;
  }

  .drawer-content li a {
    text-decoration: none;
    color: var(--white);
  }

  .drawer-content li button a {
    text-decoration: none;
    color: var(--green);
  }
  .drawer-content li button.download-button {
    margin-top: 0px !important;
  }

  .triangle-right {
      display: none;
  }

  .grid-2-l-content .details {
      width: 100%;
      overflow-x: scroll;
  }

  .hero {
      margin-bottom: 20px;
  }

  .hero .hi {
      font-size: 2.3em;
 }

 .hero .im {
      font-size: 2.2em;
  }

  .hero .work {
      font-size: 1em;
  }

  .download-button {
      font-size: 12px !important;
      margin-top: 25px !important;
      padding: 12px 20px !important;
  }

  .contact h1 {
      font-size: 1.3em;
  }

  .contact-information {
      display: block;
      text-align: left;
      margin-top: 0px;
      
  }

  fieldset {
      padding: 0;
  }
  

  .form-style-5 input[type="submit"], .form-style-5 input[type="button"] {
      font-size : 2.3em;
  }

  .form-style-5 legend {
      font-size: 1em !important;
      margin-bottom: 15px;
  }

  input, textarea {
      font-size: 0.8em !important;
  }
  .form-style-5 .number {
      display: none;
  }   

  footer ul {
      position: inherit;
      right: 30px;
      bottom: 10px;
      padding: 0;
      text-align: center;
  }

  footer li {
      font-size: 10px;
      text-align: center;
      color: var(--white);
      list-style: none;
      font-weight: bold;
      display: inline-block;
  }

  .find-me {
      display: none;
  }

  footer {
      margin-bottom: 10px;
  }

  footer i.fab {
      font-size: 30px;
      margin: 2px;
  }

  ul.nav-list {
      display: none;
  }

  .projects {
      display: block;
  }

  .project-grid-2 {
      margin-top: 40px;
      min-height: 300px;
      position: relative;
  }

  .image-holder {
      top: 0;
      position: absolute;
      z-index: 1;
      display: contents;
  }

  .image-holder img {
      width: 100%;
  }

  .company-header {
      padding: 5px 0;
  }

  .company-holder {
    display: inherit;
    position: initial;
}

  .profile-image {
      display: block;
      border: 3px solid #189287;
      margin-top: 0;
      width: 75%;
      margin: 0 auto;
  }

  .project-details {
      position: absolute;
      top: 0;
      height: 300px;
      width: -webkit-fill-available;
  }

  .send {
    
      margin-top: 0 !important;
      margin-left: 0 !important;
  }

  .contact-form {
      width: 100%; 
      margin-top: 15px
  }

  footer li a {
    font-size: 28px !important;
    padding: 6px;
  }

  footer {
    margin-top: 0;
  }

  .companies li img {
    width: 90px;
  }
  
  ul.companies {
    margin-top:  0px;
  }

  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }